.rating{
    font-weight: bolder;
  
}
.gpimg{
    border: 2px solid black;
}
.giphyBtn{
 

}
.lbl{
    background:black;
    text-align:center;
    color:whitesmoke;
    border-style: groove;
    border-color:beige;
    font-weight:bolder;
    
}